@using MyFinances.Helper;
@{
    var islogin = SessionHelper.IsLogin();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Finaance</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/JQueryDataTable/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/JQueryDataTable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/JQueryDataTable/searchPanes.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/JQueryDataTable/select.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/jquerytoast/jquery.toast.css" />


</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home">MyFinances</a>
            </div>
            <ul class="nav navbar-nav">
                <li class=""><a href="/Home/MyDashborard">My Dashboard</a></li>
                @*<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                      </ul>
                    </li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (!islogin)
                {
                    <li><a id="SignUpButton" onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a id="LoginIdButton" onclick="document.getElementById('loginPartialId').style.display='block'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
                else
                {
                    <li><a id="LogOutButton" href="/Login/LogOut"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                }
            </ul>
        </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/jqueryDataTable/jquery.dataTables.min.js"></script>
    <script src="~/js/jqueryDataTable/dataTables.buttons.min.js"></script>
    <script src="~/js/jqueryDataTable/dataTables.select.min.js"></script>
    <script src="~/js/jqueryDataTable/buttons.html5.min.js"></script>
    <script src="~/js/jqueryDataTable/buttons.flash.min.js"></script>
    <script src="~/js/jqueryDataTable/buttons.print.min.js"></script>
    <script src="~/js/jqueryDataTable/dataTables.editor.min.js"></script>
    <script src="~/js/jqueryDataTable/jszip.min.js"></script>
    <script src="~/js/jqueryDataTable/vfs_fonts.js"></script>
    <script src="~/js/jqueryDataTable/pdfmake.min.js"></script>
    <script src="~/js/jquery.toast.js"></script>
    <script src="~/js/toastCustomConfigurations.js"></script>
    @{Html.RenderPartial("_SingUp.cshtml");}
    @{Html.RenderPartial("_Login.cshtml");}
    @RenderBody()
</body>
</html>
